<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.caffeinatedapps.alfred2workflow.gist</string>
	<key>connections</key>
	<dict>
		<key>56CC6559-B009-4133-8243-799590788487</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B4B11EE-45EE-4C5B-9B3E-600C6DF8F0BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2698FFD-55BE-4826-97E8-09249688AB3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9AB9DA91-7061-4830-BA3A-F216DC37D053</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56CC6559-B009-4133-8243-799590788487</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>And paste url into current app</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1F551F1-119A-4E8C-BA02-3C14B6AC65D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C1F551F1-119A-4E8C-BA02-3C14B6AC65D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2698FFD-55BE-4826-97E8-09249688AB3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7564ADC8-A210-4F36-968C-68E47FB965E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Ng</string>
	<key>description</key>
	<string>Create gist from clipboard and put URL to gist back to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5B4B11EE-45EE-4C5B-9B3E-600C6DF8F0BE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>gist -c -P -p</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>56CC6559-B009-4133-8243-799590788487</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>text</key>
				<string>Gist Clipboard contents</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9AB9DA91-7061-4830-BA3A-F216DC37D053</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Gist URL copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2698FFD-55BE-4826-97E8-09249688AB3D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>gist -c -P -p</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1F551F1-119A-4E8C-BA02-3C14B6AC65D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7564ADC8-A210-4F36-968C-68E47FB965E0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow requires [gist](https://github.com/defunkt/gist) to be installed. You can install it via Homebrew:

    brew install gist</string>
	<key>uidata</key>
	<dict>
		<key>56CC6559-B009-4133-8243-799590788487</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>5B4B11EE-45EE-4C5B-9B3E-600C6DF8F0BE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7564ADC8-A210-4F36-968C-68E47FB965E0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9AB9DA91-7061-4830-BA3A-F216DC37D053</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C1F551F1-119A-4E8C-BA02-3C14B6AC65D4</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>E2698FFD-55BE-4826-97E8-09249688AB3D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://andrewng.com</string>
</dict>
</plist>
